<div class="row">
  <div class="col-sm">
    <br><br>

    <div class="picture">

      <img src="/assets/images/girl.jpg" alt="girl" style="width:300px">
    </div>
    <h1 class="shadow2">Camilla Lee, 24 </h1>
    <div>
      <h6 class="shadow1"><span>"</span>If you have no confidence in self, you are twice defeated in the race of life.<span>"</span></h6>
      <br>
      <h5 class="shadow1">-Marcus Garvey-</h5>

      <br>

    </div>
  </div>
  <div class="col-sm">
    <br><br>
    <p class="self"><span class="orange">500 Word Self Description:</span> Macaroon macaroon candy canes lemon drops. Bonbon pastry carrot cake marshmallow gingerbread croissant jelly beans toffee cupcake. Jelly beans cake powder. Biscuit fruitcake sweet roll jelly-o.

      Icing marshmallow muffin jelly-o. Cheesecake lollipop cake. Brownie tart halvah muffin topping sweet roll pie. Dragée biscuit liquorice tart tootsie roll.
      
      Marshmallow sugar plum lemon drops danish cake candy canes. Cupcake gummies cheesecake sesame snaps. Dragée jelly-o oat cake cake. Jelly beans icing tart marzipan jujubes jujubes bonbon chocolate bar marshmallow.
      
      Jujubes macaroon wafer carrot cake brownie. Oat cake chocolate bar cotton candy marzipan tiramisu croissant chocolate cake soufflé. Lemon drops biscuit donut cotton candy brownie sugar plum.
      
      Bear claw toffee icing apple pie cheesecake caramels. Jujubes bonbon cupcake cake danish sweet donut pie.</p>
    <br><br>
    <div class="scroll col-sm">
      <h1><span class="orange">Personal Review Questions</span></h1>
      <span class="dot"></span>
      <h5 class="words">What is the best part of your day right now?</h5>
      <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
        pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p>

      <span class="dot"></span>
      <h5 class="words">What is the worst part of your day?</h5>
      <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
        pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p>

      <span class="dot"></span>
      <h5 class="words">If you had all the money you needed, what would your life be like?</h5>
      <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
        pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p> <span class="dot"></span>
      <h5 class="words">Where would you live and work?</h5>
      <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
        pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p> <span class="dot"></span>
      <h5 class="words">In your ideal life who would be your friends?</h5>
      <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
        pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p> <span class="dot"></span>
      <h5 class="words">What does your ideal life look like?</h5>
      <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
        pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p>
        <span class="dot"></span>
        <h5 class="words">What dream or goal have you given up on?</h5>
      <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
        pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p>
        <span class="dot"></span>
        <h5 class="words">What does your home life look like?</h5>
        <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
          pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p>
          <span class="dot"></span>
          <h5 class="words">What were your dreams as a child?</h5>
          <p class="words">Danish croissant cheesecake lemon drops chupa chups croissant powder pudding. Dessert muffin
          pudding jelly macaroon chupa chups gummi bears. Brownie sweet roll danish bonbon pie pudding.</p>
    </div>
  </div>
</div>