<br><br>
<div class="row">
  <div class="col-sm">
    <img id="besties" src="./assets/images/besties.png"  width="600" alt="besties">
  </div>
  <div class="col-sm">
    <br><br><br><br><br><br>
    <h1 class="black">Online coaching and support service.</h1>
    <h5 class="black1">In a world that talks to much it's nice to finally have someone who just listens and supports.</h5>
    <a [routerLink]="['/login']"><button class="btn btn-secondary btn-lg">Login</button></a><br> <br>
    <a [routerLink]="['/register']"><button class="btn btn-secondary btn-lg">Register</button></a>
  </div>
</div>
