<div class="row">
  <div class="col-sm">
    <br><br>
    <h2 class="shadow2">Welcome to your session your bestie will be with you shortly</h2>
    <div>
      <h4 class="shadow1"><span>"</span>My mission in life is not merely to survive, but to thrive; and to do so with some passion,
        some compassion, some humor, and some style.<span>"</span></h4>
      <br>
      <h5 class="shadow1">-Maya Angelou-</h5>
    </div>

  </div>
  <div class="col-sm">
    <br><br>
    <div id="chatborder">
      <div id="chatbox">
      </div>
      <input id="new_message" placeholder="Enter your message here">
      <button class="btn btn-secondary">Send</button>
    </div>
  </div>
</div>