#chatbox{
    align-content: center;
    margin-bottom: 20px; 
    padding:10px; 
    width: 625px; 
    height: 500px; 
    border:5px dotted black;
    background-color: white;
}
#chatborder{
    background-color: #ff8757;
    width:655px;
    height:575px;
}

#new_message{
    width: 90%
}
button{
    background-color: #f7c2d2;
}
span{
    color:#ff8757;
    font-size: 60px;
}
.shadow1{
    text-shadow: 2px 2px 5px #9a173f;
}
.shadow2{
    text-shadow: 2px 2px 5px #e01251;
}
.shadow {
    box-shadow: none !important;
}