<div class="row">
    <div class="col-sm">
      <img id="besties" src="/assets/images/besties.png"  width="600"alt="besties">
    </div>
    <div class="col-sm">
      <form (submit)="onLogin()">
        <br><br>
        <h2 class="shadow1">Login</h2>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="loginuser.email" [(ngModel)]="loginuser.email" class="form-control" id="email"
            placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="loginuser.password" [(ngModel)]="loginuser.password" class="form-control" id="password"
            placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <br><br> 