<div class="row">
  <div class="col-sm">
    <h1 class="shadow1">Any Questions?</h1>
      <h4 class="shadow2">Good. Because we have answers.</h4>  
      <br>
      <hr>
      <br>
        <h5 class="shadow2">What ages are appropriate for Besties?</h5>
        <p>You must be *at least* 18 years of age to use Besties. Other than that, all ages and genders are welcome!</p>
        <br>
      <hr>
      <br>
        <h5 class="shadow2">Is Besties Online Life Coaching the same as mental health counseling?</h5>
        <p>While some of our coaches do have their masters in counseling, Besties Online Life Coaching is not the same as mental health counseling. We do not provide medication nor do we write letters for pet support (we get that a lot). We do not offer diagnosis, try to fix you, or focus heavily on your past. Life coaching provides encouragement, support, goal setting, and advice. We focus on your strengths, help you create positive habits, assist you getting out of life ruts, and create a game plan for your future. Many of our clients also have therapists and work on both simultaneously, which we absolutely love! Just make sure you are not using Besties Online Life Coaching as a replacement for psychotherapy, as that is not under our scope.</p>
        <br>
      <hr>
      <br>
        <h5 class="shadow2">What if I need to cancel a chat session? What if I don't show up?</h5>
        <p>You may not schedule or cancel a chat session within 24 hours of your desired time slot or already scheduled session. This is out of respect for our coach's time. You can sync your session to your favorite calendar app (iCal, Google, Yahoo, Outlook) to make sure you do not forget! If you are more than 10 minutes late to a chat session, the session is considered a "no show." Credits will not be restored for missed sessions or no-shows!</p>
        <br>
      <hr>
      <br>
        <h5 class="shadow2">How do the chat sessions work?</h5>
        <p>To schedule a chat session, log onto your Dashboard, click "+chat session" and find a time that works for you. Your coach's availability will populate on your Dashboard so you will know when she is open for sessions! Before your session, log onto Besties from your smart phone, tablet, or computer. Note that iPhone and iPad users will need to use a Safari browser, and Android users will need to use a Chrome browser. On your Dashboard you will see a button that says "begin session." Click on that button and you will enter into a chat with your coach! Sessions last for thirty minutes to an hour.</p>
        <br>
      <hr>
      <br>
  </div>
</div>
