<div class="row">
  <div class="col-sm">
    <br><br>
    <h2 class="black">Thank you for signing up for the Besties Coaching Service!</h2>
    <br>
    <h5 class="black1">In this section you will be answering questions that will better help your coach. These questions will allow your coach to better understand you and your goal you want to accomplish. We ask that you answer each question honestly and sparing no detail.</h5>
    <h5 class="black1">We appreciate you putting your trust n us to help accomplish the goals you have nestled in your heart. </h5>
  </div>
  <div class="col-sm">
    <br><br>
    <form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">What is the best part of your day right now?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">What is the worst part of your day?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">If you had all the money you needed, what would your life be like?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Where would you live and work?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">In your ideal life who would be your friends?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">What does your ideal life look like?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">What dream or goal have you given up on?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">What does your home life look like?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">What were your dreams as a child?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit Questions</button>
    </form>
  </div>

</div>