<div class="row">
  <div class="col-sm">
    <br><br><br>
    <h1 class="story">Our Little Story.</h1>
    <br>
    <h5 class="shadow2">We are a team of all female life coaches who are passionate about making the world an exciting and abundant
      place for independent women. </h5>
    <p class="black">Besties was created with women in mind. Every "chick-flick" ever made has that one friend that the main girl who
      spills her guts to and they always seem to know what to say in support of her current situations. That's what
      besties is all about we are that friend when you need us the most. When you wanna talk about your fears, doubts,
      relationships, careers, and love we are here. </p>
    <p class="black">We’ve worked with women through every phase of life -
      and we love every single one of them. We understand the unique struggles we all face today and with the help of
      our trained coaches we're here for you. And we know that you deserve a place to figure it all out with your
      bestie</p>
    <h2 class="shadow1">What is Life Coaching?</h2>
    <h5  class="shadow2">Short answer: the best decision you'll ever make.</h5>
    <p  class="black">
      Life coaching is a present and future focused process that increases self awareness, accomplishes goals,
      prioritizes your values, and doubles down on your strengths. Our relationship will be collaborative and evolving.
      Instead of bringing you from negative to zero, life coaching brings you from zero to infinity. Let us help you
      bridge the gap between where you are now and where you'd like to be.</p>
    <br><br><br>
  </div>
</div>